{% extends 'navbar.html' %}
{% block content %}

<form method="post" class="post-form" action="/edit_user_info/">
    {% csrf_token %}
    <label style="min-width: 25%;">Si : </label><input type="text" name="edit_info"><br>
    <label style="min-width: 25%;">Gu : </label><input type="text" name="edit_info"><br>
    <label style="min-width: 25%;">Creditcard : </label><input type="text" name="edit_info"><br>
    <label style="min-width: 25%;">Email : </label><input type="text" name="edit_info"><br>
    <label style="min-width: 25%;">Phonenumber : </label><input type="text" name="edit_info"><br>
    <label style="min-width: 25%;">Account Type : </label><input type="text" name="edit_account"><br>
    <input class="btn btn-secondary pull-right" type="submit" value="edit" onclick="window.close()"> 
</form>


{% endblock %}