{% extends 'navbar.html' %}
{% block content %}

<h1>Login</h1>
<br><br>
<div class="container">
    <form method="post" class="post-form" action="/login/">
        {% csrf_token %}
        <div class="form-group">
            <label for="email">User Email</label>
            <input type="text" class="form-control" name="email" id="email"
                   value="{{ form.username.value|default_if_none:'' }}" style="width:200px;">
        </div>
        <div class="form-group">
            <label for="name">User Name</label>
            <input type="name" class="form-control" name="name" id="name"
                   value="{{ form.password.value|default_if_none:'' }}" style="width:200px;">
        </div>
        <button type="submit" class="btn btn-secondary">Login</button>
    </form>
</div>

{% if error %}
<script type="text/javascript">
    alert("{{error}}")
</script>
{% endif %}
{% endblock %}