{% extends 'navbar.html' %}
{% block content %}

<h1>User Page</h1>
<br><br>
<label style="min-width: 15%;">Name : </label>{{ user_info.name }}<br>
<label style="min-width: 15%;">Si : </label>{{ user_info.si }}<br>
<label style="min-width: 15%;">Gu : </label>{{ user_info.creditcard }}<br>
<label style="min-width: 15%;">Credit Card : </label>{{ user_info.creditcard }}<br>
<label style="min-width: 15%;">Email : </label>{{ user_info.email }}<br>
<label style="min-width: 15%;">Phonenumber : </label>{{ user_info.phonenumber }}<br>
<label style="min-width: 15%;">Sex : </label>{{ user_info.sex }}<br>
<label style="min-width: 15%;">Account Type : </label>{{ account_info.accounttype }}<br>
<label style="min-width: 15%;">Account Create Time : </label>{{ account_info.acccreatetime }}<br>
<br>

<button class="btn btn-secondary" onclick="showPopup()">Edit</button>

<script language="javascript">
    function showPopup() {window.open("/edit_user_info/", "a", "width=700, height=500, left=100, top=50");}
</script>


{% endblock %}